body {
    background-color: #0d0208;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.gameCanvas {
    background-color: #0d0208;
    border: 3px solid#008f11;
}

.container {
    text-align: center;
    margin-top: 10px;
}

.score {
    color: #00ff41;
    font-size: 24px;
}

.high-score {
    color: #3498db;
    font-size: 18px;
}

.game-over {
    color: #00ff41;
    font-size: 32px;
    margin-top: 125px;
}